.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-header {
  background-color: #aee647;
  min-height: 10vh;
  position: sticky;
}
.App-main {
  background-color: #1559e2;
  flex: 1;
  display: flex;
}

.App-main aside {
  background-color: #22d3ac;
  min-width: 10vw;
}

.App-main section {
  background-color: #e26715;
  flex: 1;
}

.App-footer {
  background-color: #d41a96;
  min-height: 10vh;
  position: sticky;
}

.center{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.background{
  background-position: 0 0;
background-repeat: no-repeat;
background-size: cover;
}

.button{
  background-color: #d41a96;
  padding: 1rem;
  font-size: 1.5rem;
}
